@font-face {
  font-family: "Mont";
  src: url("../public/fonts/Mont-HeavyDEMO.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #151d27;
  color: white;
  font-family: "Verdana", sans-serif;
}

.gauche {
  flex: 2;
  background-image: url("/background-twitter.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigLogo {
  width: 300px;
  transform: rotate(180deg);
}

.droite {
  flex: 3;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
}

.smallLogo {
  width: 50px;
  transform: rotate(180deg);
  margin-bottom: 100px;
}

.title {
  font-family: "Mont";
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 60px;
}

.signUpBtn {
  background-color: #3690ed;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}

.signInBtn {
  background-color: transparent;
  color: #3690ed;
  border: 1px solid #3690ed;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
}

.text {
  font-family: "Mont";
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.subtitle {
  font-family: "Mont";
  color: white;
  font-weight: bold;
}

.signModal {
  color: white;
}

.signModal h2 {
  color: white;
}

/* .anticon-close ant-modal-close-icon {
  color: white;
} */
/*class="anticon anticon-close ant-modal-close-icon"*/
